.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  justify-items: stretch;
  align-items: stretch;

  width: 100%;
  max-width: 1200px;

  padding-inline: 2rem;
  margin-inline: auto;
}
@media (max-width: 900px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
